.guests {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.guests h2 {
    font-size: 3.6rem;
    font-weight: 400;
    margin-left: 1rem;
}

.guests__images {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.guests__images--img {
    background-size: contain;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 600px) {
    .guests__images {
        flex-direction: row;
        max-width: 100%;
        margin: 0 auto;
        margin-top: 4rem;
    }

    .guests__images--img {
        width: 33.3%;
    }
}